<div style="background:#2C3E50;height: 55px;align-items: center;display: flex;" fxLayout="row" fxLayoutAlign="space-between" >
    
    <div  style="width: 7.5rem;" fxLayout="row" fxLayoutAlign="start center">
        
    </div>
    <div class="header-content" style="width: auto;"  fxLayout="row" fxLayoutAlign="end center">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="dashboard_bar" style="color:white">
                        Ausy
                    </div>
                </div>
                
                 
            </div>
        </nav>
    </div>
</div>