<!--**********************************
    Content body start
***********************************-->
<div class="content-body bg-back pt-0" >
    <!-- row -->
    <div class="container-fluid">
        <div class="row" >

            <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                <div class="card  mb-4">
                    <div class="card-header" style="position:relative; " fxLayout="row" fxLayoutAlign="start center">
                        <h4 class="card-title fs-14">Liste des conultants ITC</h4>
                        <div class="input-group " style="width:300px; margin-left: 165px;">
                            <div class="input-group-prepend">
                              <span class="input-group-text fs-12" id="">Chercher</span>
                            </div>
                            <input type="text" (keyup)="searchChanged($event)" class="form-control">
                          </div>
 
                        <i (click)="openCreate()" class="fa fa-plus-circle add-button fs-20"></i>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table verticle-middle table-responsive-md " style="overflow-x: hidden">
                                <thead>
                                    <tr >
                                        <th scope="col" class="valign-m fs-11">Actions</th>
                                        <th scope="col" class="valign-m fs-11">Date Début</th>
                                        <th scope="col" class="valign-m fs-11">DC à jour CUBE</th>
                                        <th scope="col" class="valign-m fs-11">Rencontre Manager</th>
                                        <th scope="col" class="valign-m fs-11">Statut ITC </th>
                                        <th scope="col" class="valign-m fs-11">dept</th>
                                        <th scope="col" class="valign-m fs-11">Consultant en ITC</th>
                                        <th scope="col" class="valign-m fs-11">sponsor</th>
                                        <th scope="col" class="valign-m fs-11">talent</th>
                                        <th scope="col" class="valign-m fs-11">manager</th>
                                        <th scope="col" class="valign-m fs-11">Actions commerciales </th>
                                        <th scope="col" class="valign-m fs-11">MAJ DC </th>
                                        <th scope="col" class="valign-m fs-11">Compétences principales </th>
                                        <th scope="col" class="valign-m fs-11">Exp</th>
                                        <th scope="col" class="valign-m fs-11">Domaine technique </th>
                                        <th scope="col" class="valign-m fs-11">Contraintes Perso</th>
                                        <th scope="col" class="valign-m fs-11">Mobilité France </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tempEmployee of employeesFiltred" class="valign-m fs-12">
                                        <td fxLayout="row" fxLayoutAlign="space-between center">
                                           <span (click)="openEdit(tempEmployee)" class="cursor-pointer">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </span>
                                           <span (click)="openDelete(tempEmployee)" class="cursor-pointer">
                                                <i class="fa fa-trash red" aria-hidden="true"></i>
                                            </span>
                                        </td>
                                        <td>{{tempEmployee.dateStart | date:'d/MM/yyyy'}}</td>
                                        <td>{{tempEmployee.dcUpdated}}</td>
                                        <td>{{tempEmployee.managerMeeting}}</td>
                                        <td>{{tempEmployee.statusOfChecking}}</td>
                                        <td> {{tempEmployee.dept}}  </td>
                                        <td> {{tempEmployee.lastName}} {{tempEmployee.firstName}} <br> {{tempEmployee.email}}  </td>
                                        <td> {{tempEmployee.sponsor}}  </td>
                                        <td> {{tempEmployee.talent}}  </td>
                                        <td> {{tempEmployee.manager}}  </td>
                                        <td> {{tempEmployee.actions}}</td>
                                        <td>  {{tempEmployee.majDC}}</td>
                                        <td> {{tempEmployee.competences}}</td>
                                        <td> {{tempEmployee.exp}}  </td>
                                        <td>{{tempEmployee.domain}}</td>
                                        <td>
                                            <i *ngIf="tempEmployee.seriousConstraint" class="fa fa-check-square-o" aria-hidden="true"></i>
                                            <i *ngIf="!tempEmployee.seriousConstraint" class="fa fa-square-o" aria-hidden="true"></i>
                                        </td>
                                        <td>
                                            <i *ngIf="tempEmployee.mobilityFr" class="fa fa-check-square-o" aria-hidden="true"></i>
                                            <i *ngIf="!tempEmployee.mobilityFr" class="fa fa-square-o" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>
    </div>

    
</div>
